video {
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  filter: grayscale(100%);
  width: 700px;
  height: 400px;
  position: relative;
  top: -4px;
}

.overlay {
  width: 700px;
  height: 394px;
  background-color: rgba(0, 163, 255, 0.9);
  mix-blend-mode: overlay;
  /* mix-blend-mode: color; */
  z-index: 100;
  position: absolute;
}

canvas {
  z-index: 200;
  position: absolute;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.text {
  font-family: 'Anton', sans-serif;
  font-size: 100px;
  background-color: #000;
  padding: 20px;
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
}

.text span {
  display: inline-block;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  position: relative;
  top: -5px;
}

.video-container {
  display: flex;
  justify-content: center;
}